/**  Hero  **/

.hero {
    background-color: var(--title-text-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero@2x.jpg);
    }
}

.hero-title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    width: 212px;
    max-height: 160px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    text-transform: capitalize;
}

.hero-button {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-color);
}

/** Tablet styles **/
@media screen and (min-width: 768px) {
    .hero {
    padding: 112px 0;
    max-width: 1157px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/tablet-hero.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/tablet-hero@2x.jpg);
        }
    }

    .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    }
}

/** Desktop styles **/
@media screen and (min-width: 1158px) {
    .hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero-image.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero@2x.jpg);
        }
    }

    .hero-title {
    margin-bottom: 48px;
    }
}